{% macro on_click_show(button_id, div_id) -%}
	<script>
		$(document).ready(function() {
			$("{{div_id}}").hide();
			$("{{button_id}}").click(function() {
				$("{{div_id}}").show().fadeIn();
			});
		});
	</script>
{%- endmacro %}
{% macro on_click_get_group_contents(button_id, group_id) -%}
	<script>
		$(document).ready(function() {
			$("{{button_id}}").click(function() {
				layers = [];
				group_contents = $("{{group_id}}").children()
				$.each(group_contents, function(key, value) {
					layers.push({
						type: $($(value).children()[0].childNodes)[2].data.toLowerCase().replace(/\ /g, "_"),
						options: $($($(value).children()[0]).children()[2]).serializeArray()
					});
				});
				$.ajax({
					method: "POST",
					dataType: "json",
					contentType: "application/json",
        			url: "/build",
        			data: JSON.stringify(layers),
        			statusCode: {
						200: function(data) {
							console.log(data)
							UIkit.notification({
								message: data.message,
								status: 'success',
								pos: 'top-right',
								timeout: 5000
							});
						},
						400: function(data) {
							UIkit.notification({
								message: data.responseJSON.message,
								status: 'danger',
								pos: 'top-right',
								timeout: 5000
							});
						}
					}
        		});
			});
		});
	</script>
{%- endmacro %}
